VIDEO_RECORDER_CONT_NAME=video-recorder
VIDEO_RECORDER_IMG_NAME=video-recorder:latest
VIDEO_RECORDER_LOG_PATH_ROOT=    # Put a system path where the log file is saved.
VIDEO_RECORDER_CONF_PATH_ROOT="./config/camera"    # Put a system path where camera setting(configuration) file is saved.
VIDEO_RECORDER_VIDEO_PATH_ROOT=   # Put a system path where the video file is saved. 
