VIDEO_RECORDER_CONT_NAME=video-recorder
VIDEO_RECORDER_IMG_NAME=ghcr.io/2026-1-2/video-recorder:latest
VIDEO_RECORDER_LOG_PATH_ROOT=
VIDEO_RECORDER_CONF_PATH_ROOT=
VIDEO_RECORDER_VIDEO_PATH_ROOT=

CAM_INFO_DB_ACTIVATE=False # True if getting camera connection information from DB.

